# python coding

In [13]:
a=b=c=5
type(a)

int

In [2]:
id(a)

140724945037376

In [18]:
d=10
id(d)
type(d)

str

# python basics

In [3]:
print("hello")

hello

# python variable

In [19]:
varl = 'python'
type(varl)

str

In [7]:
a = 55
b = 99
print(a)
print(b)

55
99

In [44]:
#slicing in python
z='This is Python'
z[2:]

'is is Python'

In [45]:
z="Python"
del(z)

In [46]:
print(z)

NameError: name 'z' is not defined

In [52]:
z="Python"
print(z)

Python

In [58]:
str1 = "{2}{1}{0}".format('python ','programming ','language ')
print(str1)

language programming python

In [72]:
my_list=[1,2,3,4,5,"hello"]
my_list[1:]

[2, 3, 4, 5, 'hello']

In [73]:
x=input("enter value of X : ")

enter value of X : 10

In [74]:
print(x)

10

In [75]:
a=(1,2,3,4,5)
type(a)

tuple

In [76]:
b=(6,7,8,9,0)

In [77]:
a*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [78]:
a*b

TypeError: can't multiply sequence by non-int of type 'tuple'

In [79]:
a

(1, 2, 3, 4, 5)

In [80]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [82]:
a+5

TypeError: can only concatenate tuple (not "int") to tuple

In [90]:
#dictionary in python
Dict = {'Name': 'Vraj', 'Dept': 'Computer Dept', 'ProgLan': 'Python'}

## mathematical operations

In [1]:
var1 = 18.5
var2 = 20
var3 = var1 + var2
var3

38.5

In [3]:
var4 = 18.5
var5 = 20
var6 = var4 - var5
var6

-1.5

In [4]:
var7 = 18.5
var8 = 20
var9 = var7 * var8
var9

370.0

In [5]:
var10 = 10
var11 = 20
var12 = var11 / var10
var12

2.0

In [6]:
count = 100
km = 1000
name = "satish"
print("my name is satish")
print(count,km,name)

my name is satish
100 1000 satish

In [7]:
count = 100
km = 1000
name = "satish"
print("my name is satish")
print(count,km,name,sep = ',')

my name is satish
100,1000,satish

In [8]:
count = 100
km = 1000
name = "satish"
a,b,c = 4,5,'neotech'
print("my name is satish")
print(count,km,name,sep = ',')
print(a,b,c,sep = ',')

my name is satish
100,1000,satish
4,5,neotech

In [9]:
ount = 100
km = 1000
name = "satish"
a,b,c = 4,5,'neotech'
print("my name is satish")
print(count,km,name,sep = ',')
print(a,b,c,sep = ',')

my name is satish
100,1000,satish
4,5,neotech

In [10]:
a=b=c=1

a
b
c

print(a,b,c)

1 1 1

In [11]:
a=b=c=1

a
b
c

1

# #deletion of variable

In [17]:
x,y,z = 10,15,20
del z
x
y
z

NameError: name 'z' is not defined

# #Data types

In [18]:
a=67
b=99.9999
c=3.14j
d="navratri"
e= True

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# #how to take input from user

In [19]:
#ask user to rnter thr value od x and store it in variable
x = int(input("Enter the value of x: "))

#ask user to rnter thr value od y and store it in variable
y = int(input("Enter the value of y: "))

#perform mathematical operation on user input

z = x*y
#print the answer

z

Enter the value of x: 10
Enter the value of y: 15

150

In [20]:
str1 = "i like python programming language"
str1

'i like python programming language'

In [21]:
str2 = " number one"
str2

' number one'

In [22]:
str3 = str1+str2
str3

'i like python programming language number one'

# #string indexing and slicing

In [23]:
name = "university"
print(name)
print(len(name))

university
10

In [24]:
name[0]

'u'

In [28]:
name[3]

'v'

In [29]:
name[2]

'i'

In [30]:
name[1]

'n'

In [31]:
name = "my name is satish panchal"
print(len(name))

25

In [38]:
name[1]

'y'

In [39]:
name[-2]

'a'

In [40]:
name[-3]

'h'

In [41]:
name[7]

' '

In [42]:
name[6]

'e'

In [50]:
a = "neotech institute of technology"
print(a)
print(len(a))

neotech institute of technology
31

In [51]:
a[3:25]

'tech institute of tech'

In [52]:
a[:25]

'neotech institute of tech'

In [53]:
a[0:]

'neotech institute of technology'

# #address of variable

In [43]:
a = 55
id(a)

140735099383264

In [44]:
b = 5
id(b)

140735099381664

In [45]:
c = "satish"
id(c)

2527325830704

In [46]:
e = 55
id(e)

140735099383264

In [47]:
a=b=c=10
id(a)
id(b)
id(c)

140735099381824

# #Escape sequences

In [54]:
print("\\")

\

# #Positional order

In [57]:
string1 = "{1} {0} {2}" , "format('aditya','satish','panchal')"
print("|nprint string in position order : ")
print(string1)

|nprint string in position order :
('{1} {0} {2}', "format('aditya','satish','panchal')")

# #List

In [58]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

# #Tuples of python

In [136]:
a=(1,2,3,4)
b=(6,7,8,9)

In [137]:
type(b)

tuple

In [138]:
a+b

(1, 2, 3, 4, 6, 7, 8, 9)

In [139]:
a*2

(1, 2, 3, 4, 1, 2, 3, 4)

# #python dictionary

In [141]:
empl = {}

In [142]:
type(empl)

dict

In [143]:
empl["name"] = "satish"
empl["age"] = 20
empl["gender"] = "male"

In [144]:
empl["name"]

'satish'

In [145]:
empl["age"]

20

In [146]:
empl["gender"]

'male'

# # Python Loops

# # 1.While Loop

In [63]:
count = 0
while(count < 9):
    print("the count is:", count)
    count = count+1
print("Good bye!")

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4
the count is: 5
the count is: 6
the count is: 7
the count is: 8
Good bye!

In [73]:
count = 0
while(count < 3):
    count = count + 1


    print("hello satish!")

hello satish!
hello satish!
hello satish!

## Else condition with while loop

In [74]:
count = 0
while count < 5:
    print(count," is less than 5")
    count = count + 1
else:
    print(count,"is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5 is not less than 5

In [78]:
count =0
while count < 30:
    print(count," is less than 30")
    count = count + 1
else:
    print(count,"is not less than 30")

0  is less than 30
1  is less than 30
2  is less than 30
3  is less than 30
4  is less than 30
5  is less than 30
6  is less than 30
7  is less than 30
8  is less than 30
9  is less than 30
10  is less than 30
11  is less than 30
12  is less than 30
13  is less than 30
14  is less than 30
15  is less than 30
16  is less than 30
17  is less than 30
18  is less than 30
19  is less than 30
20  is less than 30
21  is less than 30
22  is less than 30
23  is less than 30
24  is less than 30
25  is less than 30
26  is less than 30
27  is less than 30
28  is less than 30
29  is less than 30
30 is not less than 30

# # For Loop

In [85]:
for letter in 'python':

    print('current Letter :', letter)

current Letter : p
current Letter : y
current Letter : t
current Letter : h
current Letter : o
current Letter : n

In [86]:
fruits = ['banana','apple', 'mango']
for fruit in fruits:
    print('current fruit :', fruit)
print("good bye")

current fruit : banana
current fruit : apple
current fruit : mango
good bye

In [98]:
for i in range (5):
    print(i)

print("done")

0
1
2
3
4
done

In [115]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num,'is a primr number')
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9

In [117]:
#importing value of pi from library
from math import pi
pi

3.141592653589793

In [120]:
radius = 10
area = pi*radius*radius
print(a)

314.1592653589793

# # Conditional statement

In [121]:
#if statement

num = 5
if num>0:
    print(num,'is poditivenumber')
    print("statement is true")

5 is poditivenumber
statement is true

In [125]:
#if and else statement

num = 1
if num>0:
    print(num,'is positivenumber')
else:
    print(num,'is negative number')

1 is positivenumber

In [128]:
#if and else statement

num = 0
if num>=0:
    print(num,'is zero')
else:
    print(num,'is negative number')

0 is zero

# #Calculator

In [135]:
#create function for each operation
#this function add two number

def add(x,y):
    return x+y

#this function substraction two number

def subtract(x,y):
    return x-y

#this function multiply two number

def multiply(x,y):
    return x*y

#this function divide two number

def divide(x,y):
    return x/y

print("select operation")
print("1.addition")
print("2.subtract")
print("3.Multiply")
print("4.divide")

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, '+',num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-',num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*',num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/',num2,'=', divide(num1,num2))

select operation
1.addition
2.subtract
3.Multiply
4.divide
Enter choice (1/2/3/4): 4
Enter the first number: 55
Enter the second number: 4
55 / 4 = 13.75